
@{
    ViewData["Title"] = "Details";
}

@model APIProject_MovieAPI.Models.Movie

<h1>Details</h1>
<table class="table-dark" style="border-spacing: 15px 2px; border-collapse: separate; border-color: white;">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rated</th>
        <th>Runtime</th>
        <th>Director</th>
        <th>Genre</th>
    </tr>
    <tr>
        <td>@Model.Title</td>
        <td>@Model.Year</td>
        <td>@Model.Rated</td>
        <td>@Model.Runtime</td>
        <td>@Model.Director</td>
        <td>@Model.Genre</td>
        <td>@Html.ActionLink("Add to Favorites", "AddFavorite", "Movie", Model)</td>
    </tr>
    }
</table>

<img src="@Model.Poster" />
